<launch>
  <arg name="INPUT_IMAGE"/>
  <arg name="YAML_PATH"
       default="package://coral_usb/launch/edgetpu_node_manager_params.yaml" />

  <rosparam command="load" file="$(arg YAML_PATH)" />
  <node name="edgetpu_node_manager"
        pkg="coral_usb" type="edgetpu_node_manager.py"
        output="screen" respawn="true">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
  </node>
</launch>
