name: Testing CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  industrial_ci:
    runs-on: ubuntu-latest
    env:
      BEFORE_INIT: |
        apt update && apt install -y gnupg2 curl sudo apt-transport-https ca-certificates &&
        echo "deb https://packages.cloud.google.com/apt coral-edgetpu-stable main" | sudo tee /etc/apt/sources.list.d/coral-edgetpu.list &&
        curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
    strategy:
      matrix:
        env:
          - ROS_DISTRO: noetic
            ROS_REPO: testing
            ADDITIONAL_DEBS: 'libedgetpu1-legacy-std python3-edgetpu python3-tflite-runtime'
          - ROS_DISTRO: melodic
            ROS_REPO: testing
            ADDITIONAL_DEBS: 'python3-catkin-pkg-modules python3-rospkg-modules python3-opencv python3-venv python3-empy python-catkin-tools libedgetpu1-legacy-std python3-edgetpu'
            BEFORE_BUILD_TARGET_WORKSPACE: |
              cd /tmp && apt update && apt install -y wget python3-pip python3-opencv &&
              wget https://dl.google.com/coral/python/tflite_runtime-1.14.0-cp36-cp36m-linux_x86_64.whl &&
              pip3 install tflite_runtime-1.14.0-cp36-cp36m-linux_x86_64.whl
          - ROS_DISTRO: kinetic
            ROS_REPO: testing
            UPSTREAM_WORKSPACE: '.ci.rosinstall.kinetic'
            UPSTREAM_CMAKE_ARGS: '-DPYTHON_EXECUTABLE=/usr/bin/python3 -DPYTHON_INCLUDE_DIR=/usr/include/python3.5m -DPYTHON_LIBRARY=/usr/lib/x86_64-linux-gnu/libpython3.5m.so'
            ADDITIONAL_DEBS: 'python3-catkin-pkg-modules python3-rospkg-modules python3-numpy ros-kinetic-opencv3 python3-venv python3-empy python-catkin-tools libedgetpu1-legacy-std python3-edgetpu'
            ROSDEP_SKIP_KEYS: 'python-numpy cv_bridge_python3'
            BEFORE_BUILD_TARGET_WORKSPACE: |
              cd /tmp && apt update && apt install -y wget python3-pip &&
              wget https://dl.google.com/coral/python/tflite_runtime-1.14.0-cp35-cp35m-linux_x86_64.whl &&
              pip3 install tflite_runtime-1.14.0-cp35-cp35m-linux_x86_64.whl &&
              pip3 install opencv-python==4.2.0.32 numpy\<1.19.0
            NOT_TEST_BUILD: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Industrial CI
        uses: 'ros-industrial/industrial_ci@master'
        env: ${{matrix.env}}
